{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "FireAnt RESTFUL API",
    "description": "Tài li?u d?c t? FireAnt RESTFUL API v1.0.0"
  },
  "host": "restv2.fireant.vn",
  "schemes": [
    "https"
  ],
  "paths": {
    "/academy/subjects": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y danh sách ch? d? khóa h?c",
        "operationId": "Academy_GetCourseSubjects",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Subject"
              }
            }
          },
          "500": {
            "description": "L?i h? th?ng"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/subjects/{subjectId}": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y thông tin ch? d? khóa h?c",
        "operationId": "Academy_GetCourseSubject",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "description": "ID c?a ch? d?",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.Subject"
            }
          },
          "500": {
            "description": "L?i h? th?ng"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/courses/{courseId}": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y thông tin khóa h?c theo ID",
        "operationId": "Academy_GetCourse",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "description": "ID c?a khóa h?c",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Course"
              }
            }
          },
          "404": {
            "description": "Bài gi?ng không t?n t?i"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/courses/levels": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y danh sách t?t c? c?p d? c?a các khóa h?c",
        "operationId": "Academy_GetAllCoursesLevel",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.CoursesLevel"
              }
            }
          },
          "500": {
            "description": "Có l?i khi l?y danh sách c?p d? c?a khóa h?c"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/courses": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y danh sách khóa h?c",
        "operationId": "Academy_GetCourses",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subjectId",
            "in": "query",
            "description": "L?c theo ch? d? khóa h?c (M?c d?nh là 0, l?y t?t c?)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Phân lo?i (0: l?p h?c, 1: h?i th?o, m?c d?ch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "level",
            "in": "query",
            "description": "L?c theo c?p d? khóa h?c (Basic, Advance...)",
            "required": false,
            "type": "string"
          },
          {
            "name": "isHot",
            "in": "query",
            "description": "L?c theo khóa h?c n?i b?t",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "V? trí b?n ghi d?u tiên l?y v? (Dùng d? phân trang, m?c d?ch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "S? lu?ng t?i da b?n ghi l?y v? (Dùng d? phân trang, m?c d?ch là 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Course"
              }
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/courses/recordCount": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y s? lu?ng khóa h?c",
        "operationId": "Academy_GetCoursesCount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subjectId",
            "in": "query",
            "description": "L?c theo ch? d? khóa h?c (0: t?t c? ch? d?)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "level",
            "in": "query",
            "description": "L?c theo c?p d? khóa h?c (Basic, Advance...)",
            "required": false,
            "type": "string"
          },
          {
            "name": "isHot",
            "in": "query",
            "description": "L?c theo khóa h?c n?i b?t",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "500": {
            "description": "Có l?i khi l?y danh sách khóa h?c"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/courses/{courseID}/thumbnail": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y ?nh d?i di?n c?a khóa h?c",
        "operationId": "Academy_GetCourseImage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "courseID",
            "in": "path",
            "description": "ID ?nh",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "width",
            "in": "query",
            "description": "Chi?u r?ng ?nh (=0 n?u mu?n l?y kích thu?c d?y d?, m?c d?nh = 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "height",
            "in": "query",
            "description": "Chi?u cao ?nh (=0 n?u mu?n l?y kích thu?c d?y d?, m?c d?nh = 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          },
          "404": {
            "description": "Không tìm th?y tài nguyên"
          }
        }
      }
    },
    "/academy/courses/{courseId}/lessons": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y danh sách bài gi?ng c?a khóa h?c",
        "operationId": "Academy_GetLessons",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "description": "ID c?a khóa hoc",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Lesson"
              }
            }
          },
          "404": {
            "description": "Khóa h?c không t?n t?i"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/courses/{courseId}/isEnrolled": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Ki?m tra xem user dã dang ký khóa h?c hay chua",
        "operationId": "Academy_CheckEnrollment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "description": "Id c?a khóa h?c",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/lessons/{lessonId}": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y thông tin bài gi?ng theo ID",
        "operationId": "Academy_GetLesson",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID c?a bài gi?ng",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Lesson"
              }
            }
          },
          "404": {
            "description": "Bài gi?ng không t?n t?i"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/news": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y danh sách tin t?c",
        "operationId": "Academy_GetNews",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "isHot",
            "in": "query",
            "description": "L?c theo tin n?i b?t",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "V? trí b?n ghi d?u tiên l?y v? (Dùng d? phân trang, m?c d?ch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "S? lu?ng t?i da b?n ghi l?y v? (Dùng d? phân trang, m?c d?ch là 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.News"
              }
            }
          },
          "500": {
            "description": "Có l?i khi l?y tin t?c"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/news/{newsId}": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y thông tin c?a tin t?c theo ID",
        "operationId": "Academy_GetNews",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "newsId",
            "in": "path",
            "description": "ID c?a tin",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.News"
            }
          },
          "404": {
            "description": "Tin không t?n t?i"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/news/recordCount": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y s? lu?ng tin t?c",
        "operationId": "Academy_GetNewsCount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "isHot",
            "in": "query",
            "description": "L?c theo tin n?i b?t",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/news/{newsId}/thumbnail": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y ?nh d?i di?n c?a tin",
        "operationId": "Academy_GetNewsThumbnail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "newsId",
            "in": "path",
            "description": "ID c?a tin",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "width",
            "in": "query",
            "description": "Kích thu?c chi?u r?ng c?a ?nh",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "height",
            "in": "query",
            "description": "Kích thu?c chi?u cao c?a ?nh",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "format": "byte",
              "type": "string"
            }
          },
          "500": {
            "description": "Có l?i khi l?y ?nh d?i di?n c?a tin"
          }
        }
      }
    },
    "/academy/classes/{classId}/teachers": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y danh sách gi?ng viên c?a l?p h?c",
        "operationId": "Academy_GetTeacherAssignments",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "description": "ID c?a khóa h?c",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Teacher"
              }
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/classes": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y danh sách các l?p h?c",
        "operationId": "Academy_GetClasses",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Tr?ng thái l?p h?c (0: chua di?n ra, 1: dang tuy?n sinh, 2: dã k?t thúc, m?c d?nh là 1)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "V? trí b?n ghi d?u tiên l?y v? (Dùng d? phân trang, m?c d?ch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "S? lu?ng t?i da b?n ghi l?y v? (Dùng d? phân trang, m?c d?ch là 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Class"
              }
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/classes/{classId}/schedule": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y thông tin l?ch h?c",
        "operationId": "Academy_GetCourseSchedules",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "description": "ID c?a l?p h?c",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.CourseSchedule"
              }
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/classes/ownedClasses": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y danh sách l?p h?c c?a tôi",
        "operationId": "Academy_GetOwnedClass",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Phân lo?i (0: l?p h?c, 1: h?i th?o, m?c d?ch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "V? trí b?n ghi d?u tiên l?y v? (Dùng d? phân trang, m?c d?ch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "S? lu?ng t?i da b?n ghi l?y v? (Dùng d? phân trang, m?c d?ch là 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Class"
              }
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/classes/ownedClasses/{classId}/meeting": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y thông tin d?y tr?c tuy?n",
        "operationId": "Academy_GenerateOwnedSignature",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "description": "ID c?a l?p h?c",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.Meeting"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/classes/ownedClasses/{classId}/schedules/{scheduleId}/status": {
      "put": {
        "tags": [
          "Academy"
        ],
        "summary": "C?p nh?t tr?ng thái bu?i h?c",
        "operationId": "Academy_UpdateScheduleStatus",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "description": "ID c?a l?p h?c",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "scheduleId",
            "in": "path",
            "description": "ID c?a bu?i h?c",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Thông tin tr?ng thái bu?i h?c",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.CourseScheduleChangeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.CourseSchedule"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-write"
            ]
          }
        ]
      }
    },
    "/academy/classes/enrolledClasses": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y danh sách l?p h?c dã dang ký",
        "operationId": "Academy_GetEnrolledClass",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Phân lo?i (0: l?p h?c, 1: h?i th?o, m?c d?ch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "V? trí b?n ghi d?u tiên l?y v? (Dùng d? phân trang, m?c d?ch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "S? lu?ng t?i da b?n ghi l?y v? (Dùng d? phân trang, m?c d?ch là 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Class"
              }
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/classes/enrolledClasses/{classId}/meeting": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y thông tin h?c tr?c tuy?n",
        "operationId": "Academy_GenerateEnrolledSignature",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "description": "ID c?a l?p h?c",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.Meeting"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy": {
      "post": {
        "tags": [
          "Academy"
        ],
        "summary": "Ðang ký khóa h?c",
        "operationId": "Academy_Enroll",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Thông tin dang ký",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.EnrollmentChangeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/enrollments/{enrollmentId}": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "L?y thông tin dang ký khóa h?c",
        "operationId": "Academy_GetEnrollment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "enrollmentId",
            "in": "path",
            "description": "Id dang ký",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.Enrollment"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/{enrollmentId}": {
      "put": {
        "tags": [
          "Academy"
        ],
        "summary": "Duy?t don hàng dang ký khóa h?c",
        "operationId": "Academy_ProcessEnrollment",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "enrollmentId",
            "in": "path",
            "description": "Mã don hàng",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Thông tin dang ký",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.EnrollmentChangeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.Enrollment"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-write"
            ]
          }
        ]
      }
    },
    "/broker-users/{userId}/bank-account/{accountId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Tr? v? thông tin chuy?n kho?n ti?n.",
        "operationId": "Accounts_BankAccount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Id c?a user dã k?t n?i vào tài kho?n FireAnt.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "Id tài kho?n t?i công ty ch?ng khoán c?a user.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Trading.BankAccount"
            }
          },
          "404": {
            "description": "User không t?n t?i"
          },
          "403": {
            "description": "L?i k?t n?i tài kho?n liên k?t t?i công ty ch?ng khoán. C?n liên k?t l?i tài kho?n giao d?ch"
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-read"
            ]
          }
        ]
      }
    },
    "/broker-users/{userId}/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Tr? v? danh sách tài kho?n t?i công ty ch?ng khoán c?a user.",
        "operationId": "Accounts_Accounts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Id c?a user dã k?t n?i vào tài kho?n FireAnt.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Trading.Account"
              }
            }
          },
          "404": {
            "description": "User không t?n t?i"
          },
          "403": {
            "description": "L?i k?t n?i tài kho?n liên k?t t?i công ty ch?ng khoán. C?n liên k?t l?i tài kho?n giao d?ch"
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-read"
            ]
          }
        ]
      }
    },
    "/broker-users/{userId}/accounts/state": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "L?y tr?ng thái tài kho?n t?i công ty ch?ng khoán",
        "operationId": "Accounts_AccountState",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Id c?a user dã k?t n?i vào tài kho?n FireAnt.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Trading.Account"
            }
          },
          "404": {
            "description": "User không t?n t?i"
          },
          "403": {
            "description": "L?i k?t n?i tài kho?n liên k?t t?i công ty ch?ng khoán. C?n liên k?t l?i tài kho?n giao d?ch"
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-read"
            ]
          }
        ]
      }
    },
    "/broker-users/{userId}/accounts/{accountId}/state": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "L?y tr?ng thái tài kho?n t?i công ty ch?ng khoán",
        "operationId": "Accounts_AccountState",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Id c?a user dã k?t n?i vào tài kho?n FireAnt.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "Id tài kho?n t?i công ty ch?ng khoán c?a user.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Trading.Account"
            }
          },
          "404": {
            "description": "User không t?n t?i"
          },
          "403": {
            "description": "L?i k?t n?i tài kho?n liên k?t t?i công ty ch?ng khoán. C?n liên k?t l?i tài kho?n giao d?ch"
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-read"
            ]
          }
        ]
      }
    },
    "/admin/user-info": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "L?y thông tin user theo id",
        "operationId": "Admin_GetUserInfo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "User id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-read"
            ]
          }
        ]
      }
    },
    "/admin/block-user": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Block 1 user",
        "operationId": "Admin_BlockUser",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Thông tin yêu c?u khóa tài kho?n",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Alerts.BlockUserRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/admin/yesterday-new-users": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Danh sách user m?i dang ký hôm tru?c",
        "operationId": "Admin_GetYesterdayNewUsers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "V? trí b?n ghi d?u tiên l?y v? (Dùng d? phân trang, m?c d?ch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "S? lu?ng t?i da b?n ghi l?y v? (Dùng d? phân trang, m?c d?ch là 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Users.UserProfile"
              }
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-read"
            ]
          }
        ]
      }
    },
    "/admin/upload-banner": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Upload ?nh banner qu?ng cáo vào NAS server",
        "operationId": "Admin_UploadBanner",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          },
          "401": {
            "description": "Không có quy?n th?c hi?n hành d?ng"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/admin/upload-ads-json": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Upload file ads.json vào NAS server",
        "operationId": "Admin_UploadAdsJson",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          },
          "401": {
            "description": "Không có quy?n th?c hi?n hành d?ng"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/admin/upload-image": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Upload ?nh vào NAS server",
        "operationId": "Admin_UploadImage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          },
          "401": {
            "description": "Không có quy?n th?c hi?n hành d?ng"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/authentication/anonymous-login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Ðang nh?p n?c danh",
        "operationId": "Authentication_AnonymousLogin",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        }
      }
    },
    "/authentication/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Ðang nh?p b?ng m?t kh?u",
        "operationId": "Authentication_Login",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.LoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        }
      }
    },
    "/authentication/apple-login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Ðang nh?p Apple",
        "operationId": "Authentication_AppleLogin",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.ExternalLoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        }
      }
    },
    "/authentication/google-login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Ðang nh?p Google",
        "operationId": "Authentication_GoogleLogin",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.ExternalLoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        }
      }
    },
    "/authentication/facebook-login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Ðang nh?p Facebook",
        "operationId": "Authentication_FacebookLogin",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.ExternalLoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        }
      }
    },
    "/authentication/registration": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Ðang ký tài kho?n",
        "operationId": "Authentication_Register",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.RegisterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        }
      }
    },
    "/authentication/password-reset": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Ð?t l?i m?t kh?u",
        "operationId": "Authentication_ForgotPassword",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.ForgotPasswordRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        }
      }
    },
    "/authentication/email-confirmation": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "G?i email xác nh?n tài kho?n",
        "operationId": "Authentication_SendConfirmEmail",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.SendConfirmationEmailRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        }
      }
    },
    "/authentication/refresh-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh token",
        "operationId": "Authentication_RefreshToken",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.RefreshTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.RefreshTokenResult"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        }
      }
    },
    "/bonds/categories": {
      "get": {
        "tags": [
          "Bond"
        ],
        "summary": "L?y danh sách các danh m?c trái phi?u",
        "operationId": "Bond_GetCategories",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "option",
            "in": "query",
            "description": "0:Issuer, 1:Type, 2:RateType, 3:Currency, 4:Exchange, 5:ICB, 6:Form, 7:Method, 8:Status",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "icbLevel",
            "in": "query",
            "description": "C?p ngành (áp d?ng khi option=5)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isListing",
            "in": "query",
            "description": "1: Ðang niêm y?t, 0: H?y niêm y?t",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Bonds.BondCategoryItem"
              }
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/bonds/filter": {
      "post": {
        "tags": [
          "Bond"
        ],
        "summary": "L?c và tìm ki?m trái phi?u",
        "operationId": "Bond_FilterBonds",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "T?p h?p di?u ki?n l?c",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Bonds.BondFilterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Bonds.BondListItem"
              }
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        }
      }
    },
    "/bonds/issuer/{symbol}": {
      "get": {
        "tags": [
          "Bond"
        ],
        "summary": "L?y danh sách trái phi?u theo mã t? ch?c phát hành",
        "operationId": "Bond_GetBondsBySymbol",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Bonds.BondListItem"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/bonds/{bondCode}": {
      "get": {
        "tags": [
          "Bond"
        ],
        "summary": "L?y thông tin chi ti?t m?t mã trái phi?u",
        "operationId": "Bond_GetBondDetail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "bondCode",
            "in": "path",
            "description": "Mã trái phi?u",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Bonds.BondDetailViewModel"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/bonds/{bondCode}/cashflow": {
      "get": {
        "tags": [
          "Bond"
        ],
        "summary": "L?y l?ch dòng ti?n tuong lai c?a trái phi?u",
        "operationId": "Bond_GetBondFutureCashFlow",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "bondCode",
            "in": "path",
            "description": "Mã trái phi?u",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Bonds.CashFlowJson"
              }
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/bonds/stats/issuers/top-debt": {
      "get": {
        "tags": [
          "Bond"
        ],
        "summary": "Top doanh nghi?p có du n? trái phi?u l?n nh?t",
        "operationId": "Bond_GetTopIssuersByDebt",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "top",
            "in": "query",
            "description": "S? lu?ng",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Bonds.IssuerStatisticItem"
              }
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/bonds/stats/bonds/high-yield": {
      "get": {
        "tags": [
          "Bond"
        ],
        "summary": "Danh sách trái phi?u có lãi su?t cao nh?t",
        "operationId": "Bond_GetHighYieldBonds",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "minRate",
            "in": "query",
            "description": "Lãi su?t th?p nh?t",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "top",
            "in": "query",
            "description": "S? lu?ng",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Bonds.BondListItem"
              }
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/bonds/stats/bonds/maturing-soon": {
      "get": {
        "tags": [
          "Bond"
        ],
        "summary": "Danh sách trái phi?u s?p dáo h?n",
        "operationId": "Bond_GetBondsMaturingSoon",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "S? ngày",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Bonds.BondListItem"
              }
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/bonds/stats/industries": {
      "get": {
        "tags": [
          "Bond"
        ],
        "summary": "Th?ng kê quy mô phát hành theo ngành ngh? (ICB)",
        "operationId": "Bond_GetIndustryStatistics",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "top",
            "in": "query",
            "description": "S? lu?ng",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "level",
            "in": "query",
            "description": "C?p c?a ngành c?n l?y",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Bonds.IndustryStatisticItem"
              }
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/brokers": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "Tr? v? danh sách công ty ch?ng khoán",
        "operationId": "Brokers_Brokers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Trading.Broker"
              }
            }
          }
        }
      }
    },
    "/brokers/{brokerId}/link-user-url": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "L?y liên k?t dùng d? k?t n?i tài kho?n t?i công ty ch?ng khoán v?i tài kho?n FireAnt.",
        "operationId": "Brokers_LinkUserUrl",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id c?a công ty ch?ng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          },
          {
            "name": "returnUrl",
            "in": "query",
            "description": "Liên k?t quay v? sau khi k?t n?i thành công",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Công ty ch?ng khoán không t?n t?i"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/open-account-url": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "L?y liên k?t dùng d? m? tài kho?n t?i công ty ch?ng khoán.",
        "operationId": "Brokers_OpenAccountUrl",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id c?a công ty ch?ng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "Id tham chi?u ?ng v?i yêu c?u m? tài kho?n",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Công ty ch?ng khoán không t?n t?i"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/users/{identityNumber}": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "L?y tên tài kho?n t?i công ty ch?ng khoán theo s? ch?ng minh thu",
        "operationId": "Brokers_GetBrokerUserName",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id c?a công ty ch?ng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          },
          {
            "name": "identityNumber",
            "in": "path",
            "description": "S? ch?ng minh thu",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Công ty ch?ng khoán không t?n t?i"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-read"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/job-names": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "L?y danh sách công vi?c.",
        "operationId": "Brokers_GetJobNames",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id c?a công ty ch?ng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Trading.Brokers.Shinhan.JobNameData"
            }
          },
          "404": {
            "description": "Công ty ch?ng khoán không t?n t?i"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/job-positions": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "L?y danh sách v? trí công vi?c.",
        "operationId": "Brokers_GetJobPositions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id c?a công ty ch?ng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Trading.Brokers.Shinhan.JobNameData"
            }
          },
          "404": {
            "description": "Công ty ch?ng khoán không t?n t?i"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/referrer-info": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "L?y thông tin ngu?i gi?i thi?u t?i công ty ch?ng khoán.",
        "operationId": "Brokers_GetReferrerInfo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id c?a công ty ch?ng khoán (VD: BSC, Shinhan...)",
            "required": true,
            "type": "string"
          },
          {
            "name": "referrerCode",
            "in": "query",
            "description": "Mã ngu?i gi?i thi?u",
            "required": true,
            "type": "string"
          },
          {
            "name": "referrenceCode",
            "in": "query",
            "description": "Mã gi?i thi?u (m?c d?nh: fireant)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Trading.ReferrerInfo"
            }
          },
          "404": {
            "description": "Công ty ch?ng khoán không t?n t?i"
          },
          "400": {
            "description": "Thông tin ngu?i gi?i thi?u không chính xác"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/banks": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "L?y danh sách ngân hàng.",
        "operationId": "Brokers_GetBanks",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id c?a công ty ch?ng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Trading.Brokers.Shinhan.JobNameData"
            }
          },
          "404": {
            "description": "Công ty ch?ng khoán không t?n t?i"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/cif-branches/{branch}": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "L?y danh sách ngân hàng.",
        "operationId": "Brokers_GetCIFBranches",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id c?a công ty ch?ng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          },
          {
            "name": "branch",
            "in": "path",
            "description": "Id c?a chi nhánh",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Trading.Brokers.Shinhan.JobNameData"
            }
          },
          "404": {
            "description": "Công ty ch?ng khoán không t?n t?i"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/kyc-required": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "C?n KYC tru?c d? có th? giao d?ch",
        "operationId": "Brokers_KycRequired",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id c?a công ty ch?ng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "boolean"
            }
          },
          "404": {
            "description": "Công ty ch?ng khoán không t?n t?i"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/welcome-link": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "L?y welcome link.",
        "operationId": "Brokers_GetWelcomeLink",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id c?a công ty ch?ng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Trading.WelcomeLink"
            }
          },
          "404": {
            "description": "Công ty ch?ng khoán không t?n t?i"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/common-banners": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "L?y common banners.",
        "operationId": "Brokers_GetBanners",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id c?a công ty ch?ng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Tr?ng thái c?a banner (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Lo?i banner (5: banner chính, 6: banner khuy?n m?i) (optional)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Trading.Banner"
            }
          },
          "404": {
            "description": "Công ty ch?ng khoán không t?n t?i"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/webhook": {
      "post": {
        "tags": [
          "Brokers"
        ],
        "summary": "Webhook nh?n tr?ng thái t? CTCK.",
        "operationId": "Brokers_BrokerWebhook",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id c?a công ty ch?ng khoán (VD: Shinhan, BSC...)",
            "required": true,
            "type": "string"
          },
          {
            "name": "payload",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Trading.BrokerWebhookData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/broker-users": {
      "get": {
        "tags": [
          "BrokerUsers"
        ],
        "summary": "Tr? v? danh sách user ch?ng khoán dã k?t n?i v?i tài kho?n FireAnt",
        "operationId": "BrokerUsers_BrokerUsers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Trading.BrokerUser"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-read"
            ]
          }
        ]
      }
    },
    "/broker-users/{userId}": {
      "delete": {
        "tags": [
          "BrokerUsers"
        ],
        "summary": "Xóa user ch?ng khoán dã k?t n?i v?i tài kho?n FireAnt",
        "operationId": "BrokerUsers_DeleteBrokerUser",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Trading.BrokerUser"
              }
            }
          },
          "404": {
            "description": "User không t?n t?i"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/chat/notify": {
      "get": {
        "tags": [
          "Chat"
        ],
        "summary": "G?i thông báo",
        "operationId": "Chat_Notify",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "API KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "sender",
            "in": "query",
            "description": "User ID ngu?i g?i",
            "required": true,
            "type": "string"
          },
          {
            "name": "receiver",
            "in": "query",
            "description": "User ID ngu?i nh?n",
            "required": true,
            "type": "string"
          },
          {
            "name": "roomId",
            "in": "query",
            "description": "ID c?a room",
            "required": true,
            "type": "string"
          },
          {
            "name": "content",
            "in": "query",
            "description": "N?i dung",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        }
      }
    },
    "/chat/images": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Upload ?nh cho tin nh?n",
        "operationId": "Chat_UpdateImage",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "image",
            "in": "body",
            "description": "Thông tin ?nh c?n upload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Controllers.Api.ChatMessageImageUpload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "posts-write"
            ]
          }
        ]
      }
    },
    "/chat/images/{key}": {
      "get": {
        "tags": [
          "Chat"
        ],
        "summary": "L?y ?nh trong thông di?p",
        "operationId": "Chat_GetChatImage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Key c?a ?nh",
            "required": true,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "Chi?u r?ng ?nh (=0 n?u mu?n l?y kích thu?c d?y d?, m?c d?nh = 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "height",
            "in": "query",
            "description": "Chi?u cao ?nh (=0 n?u mu?n l?y kích thu?c d?y d?, m?c d?nh = 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          },
          "404": {
            "description": "Không tìm th?y tài nguyên"
          }
        }
      }
    },
    "/events/search": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Tìm ki?m s? ki?n",
        "operationId": "Events_Search",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "T? khóa tìm ki?m",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "S?p xêp theo: 1: ngày KHQ (m?c d?nh), 2: ngày ch?t DS, 3: ngày th?c hi?n",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Lo?i s? ki?n: 1: C? t?c b?ng ti?n, 2: c? t?c b?ng c? phi?u, 3: Phát hành c? phi?u cho CÐHH, 0: t?t c? các lo?i s? ki?n (m?c d?nh) (0 = None, 1 = CashDividend, 2 = StockDividen, 3 = RightsIssue)",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Ngày b?t d?u (M?c d?ch là Ngày hi?n t?i)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Ngày k?t thúc (M?c d?ch là Ngày hi?n t?i)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "V? trí b?n ghi d?u tiên l?y v? (Dùng d? phân trang, m?c d?ch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "S? lu?ng t?i da b?n ghi l?y v? (Dùng d? phân trang, m?c d?ch là 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Institutions.CompanyEvent"
              }
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/broker-users/{userId}/accounts/{accountId}/executions": {
      "get": {
        "tags": [
          "Executions"
        ],
        "summary": "Tr? v? danh sách l?nh kh?p trong phiên c?a 1 mã ch?ng khoán",
        "operationId": "Executions_Executions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Id c?a user dã k?t n?i vào tài kho?n FireAnt",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "Id tài kho?n t?i công ty ch?ng khoán c?a user",
            "required": true,
            "type": "string"
          },
          {
            "name": "instrument",
            "in": "query",
            "description": "Mã ch?ng khoán",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxCount",
            "in": "query",
            "description": "S? lu?ng b?n ghi t?i da",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Trading.Execution"
              }
            }
          },
          "404": {
            "description": "User không t?n t?i"
          },
          "403": {
            "description": "L?i k?t n?i tài kho?n liên k?t t?i công ty ch?ng khoán. C?n liên k?t l?i tài kho?n giao d?ch"
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "orders-read"
            ]
          }
        ]
      }
    },
    "/fmarket/accounts/is-register": {
      "post": {
        "tags": [
          "Fmarket"
        ],
        "summary": "Check if an account is already registered",
        "operationId": "Fmarket_CheckAccount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.AccountCheckResult"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/fmarket/accounts/register-account": {
      "post": {
        "tags": [
          "Fmarket"
        ],
        "summary": "Create new Fmarket account",
        "operationId": "Fmarket_RegisterAccount",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.RegisterAccountExtraInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.RegisterAccountResult"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/fmarket/accounts/get-account-info": {
      "post": {
        "tags": [
          "Fmarket"
        ],
        "summary": "Retrieve Fmarket’s account detail",
        "operationId": "Fmarket_GetAccountInfo",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.GetAccountInformationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.GetAccountInformationResult"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/fmarket/accounts/link-account/create": {
      "post": {
        "tags": [
          "Fmarket"
        ],
        "summary": "Create linked fmarket account",
        "operationId": "Fmarket_CreateLinkAccount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.CreateLinkAccountResult"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/fmarket/accounts/link-account/confirm": {
      "post": {
        "tags": [
          "Fmarket"
        ],
        "summary": "Confirm linked fmarket account",
        "operationId": "Fmarket_ConfirmLinkAccount",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.ConfirmLinkAccountRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.ConfirmLinkAccountResult"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/fmarket/accounts/get-access-code": {
      "post": {
        "tags": [
          "Fmarket"
        ],
        "summary": "Get accessCode to login to web",
        "operationId": "Fmarket_GetAccessCode",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.GetAccessCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.GetAccessCodeResult"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/fmarket/accounts/trading-contract-list": {
      "post": {
        "tags": [
          "Fmarket"
        ],
        "summary": "Retrieve Investor’s trading contract list",
        "operationId": "Fmarket_GetTradingContractList",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.GetTradingContractListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.TradingContract"
              }
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/fmarket/accounts/esign/create": {
      "post": {
        "tags": [
          "Fmarket"
        ],
        "summary": "Only user have isAllowSign=true in trading contract response can sign",
        "operationId": "Fmarket_CreateSignFmarketContract",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.CreateESignRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.CreateESignResult"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/fmarket/accounts/esign/confirm": {
      "post": {
        "tags": [
          "Fmarket"
        ],
        "summary": "Confirm sign",
        "operationId": "Fmarket_ConfirmESign",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.ConfirmESignRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.ConfirmESignResult"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/fmarket/orders/estimate-purchase": {
      "post": {
        "tags": [
          "Fmarket"
        ],
        "summary": "Calculate estimation of volume/fee for purchase order",
        "operationId": "Fmarket_EstimatePurchaseOrder",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.EstimatePurchaseOrderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.EstimatePurchaseOrderResult"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/fmarket/orders/create-purchase-order/request": {
      "post": {
        "tags": [
          "Fmarket"
        ],
        "summary": "Create purchase order",
        "operationId": "Fmarket_CreatePurchaseOrder",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.CreatePurchaseOrderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.CreatePurchaseOrderResult"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/fmarket/v2/orders/create-purchase-order/request": {
      "post": {
        "tags": [
          "Fmarket"
        ],
        "summary": "Create purchase order",
        "operationId": "Fmarket_CreatePurchaseOrderV2",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.CreatePurchaseOrderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.CreatePurchaseOrderResult"
            }
          },
          "400": {
            "description": "Có l?i khi th?c hi?n thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/fmarket/orders/create-purchase-order/confirm": {
      "post": {
        "tags": [
          "Fmarket"
        ],
[...]
